<div class="d-flex flex-column gap-4 justify-content-center align-items-center">
  <div class="card w-100">
    <div class="card-body">
      <app-table
        [isLoading]="loading"
        [total]="total"
        [headers]="headers"
        [data]="teachers"
        [totalRecords]="totalRecords"
        (sort)="onSort($event)"
        (pageChange)="changePage($event)"
        (onSearch)="search($event)"
        (onAdd)="onAdd()"
      >
        <tr body *ngFor="let teacher of teachers">
          <td *ngIf="!loading">{{ teacher.name }}</td>
          <td *ngIf="!loading">
            <div class="d-flex justify-content-end gap-2 align-items-center">
              <i *ngIf="isAdmin" class="fa-solid fa-pen icon-pen-color" (click)="onUpdate(teacher)" [pTooltip]="'Actualizar'" [tooltipPosition]="'top'"></i>
              <i class="fa-solid fa-right-left icon-pen-color" (click)="onTransf(teacher)" [pTooltip]="'Transferir alumnos'" [tooltipPosition]="'left'"></i>
              <i *ngIf="isAdmin" class="fa-solid fa-trash-can icon-trash-color" (click)="displayDestroyModal(teacher)" [pTooltip]="'Borrar'" [tooltipPosition]="'top'"></i>
            </div>
          </td>
        </tr>
      </app-table>
    </div>
  </div>
</div>

<app-modal 
  [title]="'Eliminar profesor'" 
  [isVisible]="displayDestroyTeacherModal" 
  [isLoading]="destroyModalButtonLoading" 
  [minWidth]="{ width: '46vw' }" 
  [isModal]="true" 
  (onCancel)="hideDestroyModal()"
  (onAccept)="destroyTeacher()"
>
  <div body>
    <h3 class="text-center" *ngIf="teacherToDestroy"> {{ "Desea eliminar a " + teacherToDestroy.name + " ?"}} </h3>
  </div>
</app-modal>

<app-modal 
  [title]="(!teacherId) ? 'Agregar profesor' : 'Modificar profesor'" 
  [isVisible]="displayAddOrUpdateTeacherModal" 
  [isLoading]="addModalButtonLoading" 
  [minWidth]="{ width: '35vw' }" 
  [isModal]="true" 
  (onCancel)="hideAddOrUpdateModal()"
  (onAccept)="addOrUpdateTeacher()"
>
  <div body>
    <div class="p-fluid grid mt-4" [formGroup]="teacherForm">
      <div class="field col-12 md:col-12">
        <span class="p-float-label">
          <input type="text" id="inputtext" [ngClass]="[checkInvalid('email')]" pInputText formControlName="email"> 
          <label for="inputtext">Email <span class="mandatory">(*)</span></label>
        </span>
      </div>
      <div class="field col-12 md:col-12">
        <span class="p-float-label">
          <input type="text" id="inputtext" [ngClass]="[checkInvalid('name')]" pInputText formControlName="name"> 
          <label for="inputtext">Nombre completo <span class="mandatory">(*)</span></label>
        </span>
      </div>
    </div>
  </div>
</app-modal>

<app-modal 
  [title]="getTransfModalTitle()" 
  [isVisible]="isVisibleTransf" 
  [isLoading]="isLoadingTransf" 
  [minWidth]="{ width: '78vw' }" 
  [isModal]="true" 
  (onCancel)="hideTransf()"
  (onAccept)="acceptTransf()"
>
  <div body>
    <div class="p-fluid grid mt-3">
      <div class="fielñd col-12 md:col-12">
        <span class="p-float-label">
          <p-dropdown
            styleClass="p-dropdown"
            [options]="teachersAvailables" 
            [(ngModel)]="selectedIdTransferTeacher"
            optionLabel="name"
            optionValue="id"
            [autoDisplayFirst]="false"
            appendTo="body"
          >
          </p-dropdown>
          <label for="inputtext">Profesores disponibles</label>
        </span>
      </div>
    </div>

  </div>
</app-modal>
