<div class="d-flex flex-column gap-4 justify-content-center align-items-center">
  <div class="card w-100">
    <div class="card-body">
      <app-table
        [loading]="false"
        [total]="total"
        [headers]="headers"
        [data]="students"
        (sort)="onSort($event)"
        (onSearch)="find($event)"
      >
        <tr body *ngFor="let student of students">
          <td *ngIf="!loading">{{ student.name }}</td>
          <td *ngIf="!loading">{{ student.jlptLevel }}</td>
          <td *ngIf="!loading">{{ student.teacherDTO.name }}</td>
          <td *ngIf="!loading">
            <div class="d-flex justify-content-end align-items-center">
              <i class="fas fa-eye" style="font-size: 1.4rem; cursor: pointer; color: lightslategray" (click)="toStudentDetail(student)" [pTooltip]="'Ver detalle'" [tooltipPosition]="'top'"></i>
            </div>
          </td>
        </tr>
      </app-table>
    </div>
  </div>
</div>


