.card{
    border: none;
}

.add-class-color{
    color: #59558f;
    // color: #59558fb3;
    font-size: 1.4rem; 
    cursor: pointer;
}

.w-500{
    width: 500px;
}

.p-button-text{
    color: #59558f !important;
}

.p-button:focus{
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #9591ca, 0 1px 2px 0 black !important;
}
