<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div class="card" *ngIf="student">
        <div class="card-header">
          <h3 class="text-center"> {{ student.name }} </h3>
        </div>
        <div class="card-body">
          <div class="grid">
            <div class="col-12 text-center">
              <label>
                Alumno de Murasaki
              </label>
            </div>
            <div class="col-4 text-center">
              <label>
                Curso: Japonés
              </label>
            </div>
            <div class="col-4 col-offset-4 text-center">
              <label>
                {{ "Edad: " + student.age }}
              </label>
            </div>
            <div class="col-12">
              <h5> Conocimientos previos </h5>
              <label>
                {{ student.priorKnowledge }}
              </label>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-around w-50">
            <p-tag *ngFor="let interest of student.interests" [icon]="interest.icon" [value]="interest.name" [style]="{'background-color': '#b680c5'}"></p-tag>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">

    </div>
    <div class="col-12">
      <div class="card" style="padding: 15px">
        <h3 class="text-center mb-3">Historial de clases</h3>
          <p-timeline [value]="lessons" align="alternate" styleClass="customized-timeline">
            <ng-template pTemplate="marker" let-event>
                <span class="custom-marker shadow-2" [style.backgroundColor]="event.color">
                    <i [ngClass]="event.icon"></i>
                </span>
            </ng-template>
            <ng-template pTemplate="content" let-event>
                <p-card [header]="event.status" [subheader]="event.date">
                  <p>
                    {{ event.content }}
                    <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                      quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas! -->
                  </p>
                </p-card>
            </ng-template>
          </p-timeline>
        </div>
    </div>
  </div>
</div>


