<div class="d-flex justify-content-center align-items-center">
  <p-card [style]="{'width': '25rem', 'margin-bottom': '2em'}" *ngIf="student">
    <ng-template pTemplate="header">
        <h3 class="text-center"> {{ student.name }} </h3>
    </ng-template>

    <div class="grid">
      <div class="col-12 text-center">
        <label>
          Alumno de Murasaki
        </label>
      </div>
      <div class="col-4 text-center">
        <label>
          Curso: Japonés
        </label>
      </div>
      <div class="col-4 col-offset-4 text-center">
        <label>
          {{ "Edad: " + student.age }}
        </label>
      </div>
      <div class="col-12">
        <h5> Conocimientos previos </h5>
        <label>
          {{ student.priorKnowledge }}
        </label>
      </div>
    </div>

    <ng-template pTemplate="footer">
      <div class="d-flex justify-content-between">
        <p-tag icon="pi pi-check" value="Hobby" [style]="{'background-color': 'red'}"></p-tag>
      </div>
    </ng-template>
  </p-card>
</div>
