<p-dialog  [(visible)]="isVisible" [modal]="isModal" (onHide)="cancel()" [style]="minWidth">
  <ng-template pTemplate="header">
    <label class="title title-color">
      {{ title }}
    </label>
  </ng-template>
  <ng-template pTemplate="content">
    <ng-content select="[body]"></ng-content>
  </ng-template>
  <ng-template *ngIf="needFooter" pTemplate="footer">
    <!-- <button 
      class="p-button-primary" 
      pButton
      pRipple
      label="Cancelar"  
      (click)="cancel()"
      [disabled]="isLoading"
    ></button>
    <button 
      class="p-button-primary" 
      pButton
      pRipple
      label="Aceptar"
      (click)="accept()"
      [disabled]="isLoading"
    ></button> -->
    <app-button
      [text]="'Cancelar'"
      (onClick)="cancel()"
      [icon]="''"
      [isDisabled]="isLoading"
      [isCancel]="true"
      [isLoading]="false"
    >
    </app-button>
    <app-button
      [text]="'Aceptar'"
      (onClick)="accept()"
      [icon]="''"
      [isDisabled]="isLoading"
      [isLoading]="isLoading"
    > 
    </app-button>
  </ng-template>
</p-dialog>
