<div class="sidebar">
  <div class="logo_content">
    <div class="logo">
      <i class="fas fa-torii-gate"></i>
      <div class="logo_name">Murasaki</div>
    </div>
    <i class="fas fa-bars" id="btn"></i>
  </div>
  <ul class="nav_list">
    <li>
      <i class="fas fa-search"></i>
      <input type="text" placeholder="Search...">
      <span class="tooltip"> 
        <label class="tooltip-text">
          Search 
        </label>
      </span>
    </li>
    <li>
      <a class="cursor-pointer" (click)="navigate('app/sidebar/students')">
        <i class="fas fa-user"></i>
        <span class="links_name"> Estudiantes </span>
      </a>
      <span class="tooltip"> 
        <label class="tooltip-text">
          Estudiantes 
        </label>
      </span>
    </li>
    <li>
      <a class="cursor-pointer" (click)="navigate('')">
        <i class="fas fa-user"></i>
        <span class="links_name"> Profesores </span>
      </a>
      <span class="tooltip"> 
        <label class="tooltip-text">
          Profesores 
        </label>
      </span>
    </li>
    <li>
      <a class="cursor-pointer" (click)="navigate('')">
        <i class="fas fa-user"></i>
        <span class="links_name"> Intereses </span>
      </a>
      <span class="tooltip"> 
        <label class="tooltip-text">
          Intereses 
        </label>
      </span>
    </li>
  </ul>
  <div class="profile_content">
    <div class="profile">
      <div class="profile_details">
        <img src="../../../assets/images/profile.jpg" alt="">
        <div class="name_job"> 
          <div class="name"> Gonzalo Verón </div>
          <div class="job"> Prof. Japonés </div>
        </div>
      </div>
      <i class="fas fa-sign-out" id="log_out"></i>
    </div>
  </div>
</div>
<div class="home_content" style="overflow-y: auto;">

  <div class="text"> 
    <label class="title">
      Estudiantes 
    </label>
  </div>

  <div class="p-5" style="margin-top: 43px">
    <router-outlet></router-outlet>
  </div>
</div>