/* You can add global styles to this file, and also import other style files */

.mandatory{
    color: #e75e5e;
}

.icon-eye-color {
    font-size: 1.4rem; 
    cursor: pointer;
    // color: lightslategray;
    color: #59558f;
    // color: #59558fb3;
}

.icon-trash-color {
    font-size: 1.4rem; 
    cursor: pointer; 
    // color: red;
    color: #59558f;
    // color: #59558fb3;
}

.icon-pen-color {
    font-size: 1.4rem; 
    cursor: pointer; 
    // color: rgb(134, 184, 184);
    color: #59558f;
    // color: #59558fb3;
}

.pointer {
    cursor: pointer;
}