/* You can add global styles to this file, and also import other style files */

.mandatory{
    color: #e75e5e;
}

.icon-eye-color {
    font-size: 1.4rem; 
    cursor: pointer;
    color: lightslategray;
}

.icon-trash-color {
    font-size: 1.4rem; 
    cursor: pointer; 
    color: red;
}

.icon-pen-color {
    font-size: 1.4rem; 
    cursor: pointer; 
    color: rgb(134, 184, 184);
}

.pointer {
    cursor: pointer;
}