.card{
    border: none
}

.card-header{
    background-color: white;
    border-bottom: none;
}

.card-footer{
    background-color: white;
    border-top: none;
}

.icons {
    font-size: 25px;
    color: #7d7ab1; 
}
