<p-table 
  #dt
  [value]="data" 
  responsiveLayout="scroll"
  [paginator]="false"
  [rowHover]="true"
  [loading]="isLoading"
>
  <ng-template pTemplate="caption">
    <div class="p-fluid grid">
      <div class="col-10 md:col-10">
        <span class="p-input-icon-left">
          <i class="pi pi-search" (click)="emitSearch()" style="cursor: pointer"></i>
          <input type="text" pInputText placeholder="Search" [(ngModel)]="searchText" />
        </span>
      </div>
      <div class="col-2 md:col-2">
        <app-button
          [text]="'Agregar'"
          [isLoading]="false"
          [isDisabled]="false"
          [icon]="'fa-solid fa-plus'"
          (onClick)="add()"  
        >
        </app-button>
      </div>

    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <ng-content select="[header]"></ng-content>
    <ng-container *ngIf="headers">
      <tr>
        <th *ngFor="let header of headers" (click)="onClickHeader(header)">
          <div style="display: flex; align-items: center;">
            {{ header.name | titlecase }}
            <i *ngIf="header.sortable && !header.active" class="pi pi-sort"
              style="font-size: 12px; color: #7a7a7a;  margin: 0 8px"></i>
            <i *ngIf="header.sortable && header.active" class="pi pi-sort" style="font-size: 12px; margin: 0 8px"></i>
          </div>
        </th>
      </tr>
    </ng-container>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <ng-content select="[body]"></ng-content>
    <ng-container *ngIf="autofill">
      <tr>
        <td *ngFor="let header of headers" [ngSwitch]="header.type">
          <ng-container *ngSwitchDefault>
            {{ item[header.key] }}
          </ng-container>
          <ng-container *ngSwitchCase="'date'">
            {{ item[header.key] | date:header.format }}
          </ng-container>
          <ng-container *ngSwitchCase="'number'">
            {{ item[header.key] | number:header.format }}
          </ng-container>
        </td>
      </tr>      
    </ng-container>
  </ng-template>
</p-table>
<div class="mt-4">
  <p-paginator (onPageChange)="changePage($event)" [rows]="5" [totalRecords]="totalRecords" [rowsPerPageOptions]="[5, 10, 15]"></p-paginator>
</div>
