<p-table 
  #dt
  [value]="data" 
  responsiveLayout="scroll"
  [paginator]="false"
  [rowHover]="true"
  [loading]="isLoading"
>
  <ng-template pTemplate="caption">
    <div class="p-fluid grid">
      <!-- <div class="col-12 md:col-7">
        <div class="flex justify-content-around flex-wrap" style="width: 150px; font-size: xx-large;">
          <div class="align-self-center">
            <i [ngClass]="['fas', 'fa-calendar-alt', (mode == 'fecha') ? 'selected' : '']" (click)="changeMode('fecha')" style="cursor: pointer"></i>
          </div>
          <div class="align-self-center">
            <i [ngClass]="['fas', 'fa-level-up-alt', (mode == 'nivel') ? 'selected' : '']" (click)="changeMode('nivel')" style="cursor: pointer"></i>
          </div>
          <div class="align-self-center">
            <i [ngClass]="['fas', 'fa-chalkboard-teacher', (mode == 'profesor') ? 'selected' : '']" (click)="changeMode('profesor')" style="cursor: pointer"></i>
          </div>
        </div>
      </div> -->
      <!-- <div class="col-12 md:col-1">
        <div class="flex justify-content-end flex-wrap" style="cursor: pointer; font-size: xx-large;">
          <div class="align-self-center">
            <i class="fas fa-search" (click)="emitSearch()" style="cursor: pointer"></i>
          </div>
        </div>
      </div> -->
      <!-- <div class="col-12 md:col-2" *ngIf="mode == 'fecha'">
        <p-inputMask placeholder="Fecha desde" inputId="inputmask" mask="99/99/9999 99:99" slotChar="dd/mm/aaaa hh:mm"></p-inputMask>
      </div>
      <div class="col-12 md:col-2" *ngIf="mode == 'fecha'">
        <p-inputMask placeholder="Fecha hasta" inputId="inputmask" mask="99/99/9999 99:99" slotChar="dd/mm/aaaa hh:mm"></p-inputMask>
      </div>
      <div class="col-12 md:col-4" *ngIf="mode == 'profesor'">
        <input pInputText type="text" [value]="searchText" (change)="changeSearchText($event)" [disabled]="false" placeholder="Busqueda por nombre de profesor"/>
      </div>
      <div class="col-12 md:col-4" *ngIf="mode == 'nivel'">
        <input pInputText type="number" [value]="searchText" (change)="changeSearchText($event)" [disabled]="false" placeholder="Busqueda por nivel de alumno"/>
      </div> -->
      <div class="col-10 md:col-10">
        <span class="p-input-icon-left">
          <i class="pi pi-search" (click)="emitSearch()"></i>
          <input type="text" pInputText placeholder="Search" [(ngModel)]="searchText" />
        </span>
      </div>
      <div class="col-2 md:col-2">
        <!-- <button class="btn btn-primary w-100 h-100">Agregar</button> -->
        <app-button
          [text]="'Agregar'"
          [isLoading]="false"
          [isDisabled]="false"
          [icon]="'fa-solid fa-plus'"
          (onClick)="add()"  
        >
        </app-button>
      </div>

    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <ng-content select="[header]"></ng-content>
    <ng-container *ngIf="headers">
      <tr>
        <th *ngFor="let header of headers" (click)="onClickHeader(header)">
          <div style="display: flex; align-items: center;">
            {{ header.name | titlecase }}
            <i *ngIf="header.sortable && !header.active" class="pi pi-sort"
              style="font-size: 12px; color: #7a7a7a;  margin: 0 8px"></i>
            <i *ngIf="header.sortable && header.active" class="pi pi-sort" style="font-size: 12px; margin: 0 8px"></i>
          </div>
        </th>
      </tr>
    </ng-container>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <!-- <tr *ngIf="isLoading">
      <td *ngFor="let i of headers">
        <p-skeleton></p-skeleton>
      </td>
    </tr> -->
    <ng-content select="[body]"></ng-content>
    <ng-container *ngIf="autofill">
      <tr>
        <td *ngFor="let header of headers" [ngSwitch]="header.type">
          <ng-container *ngSwitchDefault>
            {{ item[header.key] }}
          </ng-container>
          <ng-container *ngSwitchCase="'date'">
            {{ item[header.key] | date:header.format }}
          </ng-container>
          <ng-container *ngSwitchCase="'number'">
            {{ item[header.key] | number:header.format }}
          </ng-container>
        </td>
      </tr>      
    </ng-container>
  </ng-template>
</p-table>
<div class="mt-4">
  <p-paginator (onPageChange)="changePage($event)" [rows]="5" [totalRecords]="totalRecords" [rowsPerPageOptions]="[5, 10, 15]"></p-paginator>
</div>
